<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="log" value="D:\meituanApp\MeiTuanDownload\log\" />
    <add key="con" value="server=127.0.0.1;pwd=zzb@123..;uid=sa;database=AIS20260520105522" />
    <add key="signKey" value="d7ltu5i7dk9k7opl" />
    <add key="developerId" value="116364" />
    <add key="code" value="ad546e243821dc50654f8184a4abb296" />
    <add key="addDays" value="-2" />
    <add key="stockaddDays" value="-4" />
    <add key="begintime" value="true" />
    <add key="appAuthToken" value="V2-75a80689fcfc7217a37f606482108c3da0360c972a65f1218b26d60c98e2bff8f8babcc5408e217fb5d2d1bb4cb2a86ecd98e9e3c4a8a77cb89b83b1e1a59838" />
    <add key="refreshToken" value="7a1633abb20728a55bb801e387fc0d915e05f0af119f5a8c8679e7d4bb6dc308c5763f9f6eff932a907fdc71dfd4a509d6941918ebe46ce4f42f97ebcf67ff95" />
    <add key="tokenUpdateTime" value="2025-12-01" />
  </appSettings>
</configuration>