USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_InStockEntry]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_InStockEntry](
	[id] [nvarchar](50) NOT NULL,
	[itemSn] [nvarchar](255) NULL,
	[goods_code] [nvarchar](255) NULL,
	[bizUnit] [nvarchar](50) NULL,
	[bizUnitPrice] [nvarchar](50) NULL,
	[money] [nvarchar](50) NULL,
	[taxRate] [nvarchar](50) NULL,
	[noTaxMoney] [nvarchar](50) NULL,
	[tax] [nvarchar](50) NULL,
	[remark] [nvarchar](max) NULL,
	[bizUnitAmount] [nvarchar](50) NULL,
	[warehouse_code] [nvarchar](255) NULL,
	[warehouse_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_CRJH_InStockEntry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
