USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_InStock]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_InStock](
	[Id] [nvarchar](255) NOT NULL,
	[itemSn] [nvarchar](255) NULL,
	[belongOrg_orgId] [nvarchar](255) NULL,
	[sourceSn] [nvarchar](50) NULL,
	[type_id] [nvarchar](255) NULL,
	[status] [int] NULL,
	[reqJson] [nvarchar](max) NULL,
	[respJson] [nvarchar](max) NULL,
	[bizTime] [nvarchar](255) NULL,
	[oppositeOrg_code] [nvarchar](255) NULL,
	[oppositeOrg_name] [nvarchar](255) NULL,
	[deliveryWarehouseCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_CRJH_InStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CRJH_InStock] ADD  CONSTRAINT [DF__CRJH_InSt__statu__739C45D2]  DEFAULT ((0)) FOR [status]
GO
