USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_OrgUpdate]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CRJH_OrgUpdate]
as
begin

update CRJH_Org set inStockType='1,2,5,9,10,13,4,8',outStockType='1,2,3,6,9,12,16,5,11' where orgType=1 or orgType=4

update CRJH_Org set inStockType='1,2,3,4,6',outStockType='1,3,5,7,8' where orgType=5

end
GO
