USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_CustomerMapping]    脚本日期: 2026/6/23 12:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_CustomerMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KingdeeNumber] [nvarchar](50) NULL,
	[Kingdee] [nvarchar](50) NOT NULL,
	[MeiTuanNumber] [nvarchar](50) NULL,
	[MeiTuan] [nvarchar](50) NULL,
 CONSTRAINT [PK_CRJH_WarehouseMapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CRJH_CustomerMapping] ON 

INSERT [dbo].[CRJH_CustomerMapping] ([id], [KingdeeNumber], [Kingdee], [MeiTuanNumber], [MeiTuan]) VALUES (26, N'CUST0005', N'上海合生汇', N'MD00001', N'上海合生汇')
INSERT [dbo].[CRJH_CustomerMapping] ([id], [KingdeeNumber], [Kingdee], [MeiTuanNumber], [MeiTuan]) VALUES (27, N'CUST0005', N'上海美罗城', N'MD00006', N'上海美罗城')
INSERT [dbo].[CRJH_CustomerMapping] ([id], [KingdeeNumber], [Kingdee], [MeiTuanNumber], [MeiTuan]) VALUES (28, N'CUST0005', N'上海环球港', N'MD00005', N'上海环球港')
SET IDENTITY_INSERT [dbo].[CRJH_CustomerMapping] OFF
GO
