USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_parseJson]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CRJH_parseJson]
@formid nvarchar(25)
as 
begin  
 

 if @formid='Org'
	begin 
		select 'orgId' Id,'orgId' orgId,'orgType' orgType,'orgName' orgName,'merchantNo' merchantNo,'poiStatus' poiStatus
	end

if @formid='MATERIAL'
	begin 
		select 'goodsId' Id,'rootOrgId' rootOrgId,'code' code,'name' [name],'belongOrg_orgId' belongOrg_orgId,'status_id' [status_id]
		,'defaultOrderUnit_name' defaultOrderUnit_name,'lastModifyTime' lastModifyTime,'category_code' category_code,'spec' spec,'storageModel_code' storageModel_code,'shelfLifeDay' shelfLifeDay,'defaultCostUnit_name' defaultCostUnit_name,'defaultCostUnit_conversionRateBizFactor' defaultCostUnit_conversionRateBizFactor
	end

if @formid='Supplier'
	begin 
		select 'supplierId' Id,'rootOrgId' rootOrgId,'code' code,'name' [name],'belongOrg_orgId' belongOrg_orgId,'status_id' [status_id],'aliasName' aliasName,'contactName' contactName,'contactNumber' contactNumber
			,'taxRate' taxRate
	end
if @formid='PurchaseOrder'
	begin 
		select 'purchaseOrderSn' Id,'purchaseOrderSn' purchaseOrderSn,'orgInfo_orgId' orgInfo_orgId,'supplierInfo_code' supplierInfo_code,'supplierInfo_name' supplierInfo_name,'createTime' createTime,'remark' remark,'orgAddress_address' orgAddress_address
	end

if @formid='PurchaseOrderEntry'
	begin 
		select 'id' Id,'purchaseOrderSn' purchaseOrderSn,'goods_code' goods_code,'bizUnit_name' bizUnit_name,'gift' gift,'auditPrice' auditPrice,'auditMoney' auditMoney,'auditNoTaxMoney' auditNoTaxMoney,'auditAmount' auditAmount,'taxRate' taxRate,'tax' tax,'demandWarehouse_code' demandWarehouse_code,'demandWarehouse_name' demandWarehouse_name
	end


if @formid='InStock'
	begin 
		select 'itemSn' Id,'itemSn' itemSn,'belongOrg_orgId' belongOrg_orgId, 'sourceSn' sourceSn,'type_id' type_id	,'bizTime' bizTime,'oppositeOrg_code' oppositeOrg_code,'oppositeOrg_name' oppositeOrg_name
	end

if @formid='InStockEntry'
	begin 
		select 'id' Id,'itemSn' itemSn,'goods_code' goods_code,'bizUnit' bizUnit,'warehouse_code' warehouse_code,'warehouse_name' warehouse_name,'bizUnitPrice' bizUnitPrice,'money' money,'taxRate' taxRate,'noTaxMoney' noTaxMoney,'tax' tax,'remark' remark,'bizUnitAmount' bizUnitAmount
	end


if @formid='OutStock'
	begin 
		select 'itemSn' Id,'itemSn' itemSn,'belongOrg_orgId' belongOrg_orgId,'type_id' type_id,'bizTime' bizTime, 'sourceSn' sourceSn,'oppositeOrg_code' oppositeOrg_code,'oppositeOrg_name' oppositeOrg_name
	end

if @formid='OutStockEntry'
	begin 
		select 'id' Id,'sourceDetailId' sourceDetailId,'itemSn' itemSn,'goods_code' goods_code,'bizUnit' bizUnit,'warehouse_code' warehouse_code,'warehouse_name' warehouse_name,'bizUnitPrice' bizUnitPrice,
		'money' money,'taxRate' taxRate,'noTaxMoney' noTaxMoney,'tax' tax,'remark' remark, 'bizUnitAmount' bizUnitAmount	
	end


end
GO
