USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_ERPorder_STK_MisDelivery]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[CRJH_ERPorder_STK_MisDelivery]
@fid varchar(200)
as
begin
declare @FJson nvarchar(Max)
declare @FJsonE nvarchar(Max)
declare @FormId nvarchar(200)  --单据标识

declare @FBillNo nvarchar(200)  --单号
declare @FDate nvarchar(200)		--日期
declare @FBillTypeID nvarchar(200)					--单据类型
declare @FStockOrgId nvarchar(200)					--库存组织
declare @FSupplierId nvarchar(100)					--供应商
declare @FDeptId nvarchar(100)			--部门
declare @FNote nvarchar(100)			--beizhu1

declare @FMaterialId nvarchar(200)				--物料
declare @FUnitID nvarchar(200)				--单位
declare @FQty nvarchar(200)				--出库数量
declare @FAmount nvarchar(200)				--量
declare @FSTOCKID nvarchar(200)				--仓库


declare CS_order cursor for
select 
'STK_MisDelivery',
a.itemSn,--单号
isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101 08:00:00:000'), 121), 23),''),--日期
'QTCKD01_SYS' --单据类型
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end --库存组织
,1026--部门
,'',

b.goods_code,--表单品(sku)所有属性的编码，SKU概念介绍	
case when  bizUnit='月' then 'UG002' else bizUnit end,  
b.bizUnitAmount,--出库数量
b.noTaxMoney
,case when isnull(warehouse_code,'') in (select MeiTuanNumber from CRJH_WarehouseMapping) then (select top 1 KingdeeNumber from CRJH_WarehouseMapping where MeiTuanNumber=isnull(warehouse_code,'')) 
	else (select wareHouse  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
	end warehouse  --仓库
from CRJH_OutStock a
left join CRJH_OutStockEntry b on a.itemSn = b.itemSn
where a.itemSn=@fid


set @FJson=''
set @FJsonE=''
open CS_order
while (1=1)
begin
	fetch CS_order into 
	@FormId,
	@FBillNo ,  --单号
	@FDate ,		--日期
	@FBillTypeID ,					--单据类型
  @FStockOrgId ,					--库存组织
  @FDeptId ,			--采购员
  @FNote,

  @FMaterialId ,				--物料
  @FUnitID,
  @FQty ,				--出库数量
  @FAmount,
  @FSTOCKID 				--仓库

	if @@fetch_status <> 0			--@@fetch_status为跳出循环
	break
	set @FJsonE = case when isnull(@FJsonE,'')='' then ''else @FJsonE+','
				end +'{'
						+'"FMaterialId":{"FNumber":"'+@FMaterialId+'"},'+	
						+'"FUnitID":{"FNumber":"'+@FUnitID+'"},'+	
						+'"FQty":"'+@FQty+'",'+							
						+'"FAmount":"'+@FAmount+'",'+							
						+'"FSTOCKID":{"FNumber":"'+@FSTOCKID+'"}'+	
					+'}'





						  
 set @FJson='{'+

 			+'"IsAutoAdjustField":"true",'+
			+'"IsVerifyBaseDataField":"true",'+
			+'"IsAutoSubmitAndAudit":"false",'+
			+'"InterationFlags":"STK_InvCheckDetailMessage",'+
			+'"Model":'+
			+'{'+
			+'"FBillNo":"'+@FBillNo+'",'+
			+'"FDate":"'+@FDate+'",'+
			+'"FNote":"'+@FNote+'",'+

			
			+'"FBillTypeID":{"FNumber":"'+@FBillTypeID+'"},'+		
			+'"FStockOrgId":{"FNumber":"'+@FStockOrgId+'"},'+		
			+'"FDeptId":{"FNumber":"'+@FDeptId+'"},'+	
			+'"FEntity": ['+@FJsonE+']'+
		+'}'+
		+'}'

end
close CS_order
deallocate CS_order
select @FJson fjson,@FBillNo FBILLNO ,@FormId FTypeName



end
GO
