USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_Main]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CRJH_Main]
as
begin
		
	--销售出库 
	select id,'SAL_OUTSTOCK'fromid from CRJH_OutStock a where  type_id in (6,12,16) and status = 0 
	and isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101'), 121), 23),'')>='2025-09-01'
	union all
	--采购退料
	select id,'PUR_MRB'fromid from CRJH_OutStock a where  type_id in (3,7) and status = 0
	and isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101'), 121), 23),'')>='2025-09-01'
	union all
	--其他出库
	select distinct A.id,'STK_MisDelivery'fromid from CRJH_OutStock a
	where status = 0  AND type_id in (1,2,5,8,9,11) 
	and isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101'), 121), 23),'')>='2025-09-01'


	--采购入库
	select id,'STK_InStock'fromid from CRJH_InStock a where   type_id in( 2,3,9)
	and status = 0
	and isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101'), 121), 23),'')>='2025-09-01'
	union all
	--其他入库
	select id,'STK_MISCELLANEOUS'fromid from CRJH_InStock a where type_id IN (1,4,6,8) and status = 0
	and status = 0
	and isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101'), 121), 23),'')>='2025-09-01'
	union all
	--销售退货
	select id,'SAL_RETURNSTOCK'fromid from CRJH_InStock a where   type_id in (5,10,13)
	and status = 0
	and isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101'), 121), 23),'')>='2025-09-01'



end


GO
