USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_MATERIAL]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_MATERIAL](
	[Id] [nvarchar](255) NULL,
	[rootOrgId] [nvarchar](255) NULL,
	[status] [int] NULL,
	[reqJson] [nvarchar](max) NULL,
	[respJson] [nvarchar](max) NULL,
	[code] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[spec] [nvarchar](255) NULL,
	[belongOrg_orgId] [nvarchar](255) NULL,
	[status_id] [nvarchar](255) NULL,
	[defaultOrderUnit_name] [nvarchar](255) NULL,
	[lastModifyTime] [nvarchar](255) NULL,
	[category_code] [nvarchar](50) NULL,
	[storageModel_code] [nvarchar](50) NULL,
	[shelfLifeDay] [nvarchar](50) NULL,
	[defaultCostUnit_name] [nvarchar](50) NULL,
	[defaultCostUnit_conversionRateBizFactor] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CRJH_MATERIAL] ADD  CONSTRAINT [DF_CRJH_MATERIAL_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[CRJH_MATERIAL] ADD  CONSTRAINT [DF_CRJH_MATERIAL_spec]  DEFAULT (N'无') FOR [spec]
GO
ALTER TABLE [dbo].[CRJH_MATERIAL] ADD  CONSTRAINT [DF_CRJH_MATERIAL_storageModel_code]  DEFAULT (N'CCFS0003') FOR [storageModel_code]
GO
ALTER TABLE [dbo].[CRJH_MATERIAL] ADD  CONSTRAINT [DF_CRJH_MATERIAL_shelfLifeDay]  DEFAULT ((9999)) FOR [shelfLifeDay]
GO
