USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_erp_getMaterialBizFactor]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CRJH_erp_getMaterialBizFactor]

@code nvarchar(50)
as


begin



select 
top 1
Id id
,code FMaterialId_0
,defaultCostUnit_conversionRateBizFactor FConvertNumerator
,case when  defaultcostUnit_name='月' then 'UG002' else defaultcostUnit_name end  FDestUnitId_0
,case when  defaultOrderUnit_name='月' then 'UG002' else defaultOrderUnit_name end FCurrentUnitId_0
from [dbo].[CRJH_MATERIAL]
where [status]=0 and defaultCostUnit_conversionRateBizFactor>1 and code=@code



end
GO
