USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_erp_Material]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[CRJH_erp_Material]
as
begin



select 
Id id
,code Fnumber
,name [FName]
,isnull(spec,'无') FSpecification    --规格型号
,isnull(shelfLifeDay,'9999')  F_QRAU_BZQTS     --保质期
,isnull((select top 1 kingdeeNumber from CRJH_groupMapping where meituanNumber=category_code),'1') FMaterialGroup_0     --分组
,isnull((select top 1 kingdeeNumber from CRJH_storageMapping where meituanNumber=storageModel_code),'CCWQ03') F_HC_CCFS_0     --存储方式
from [dbo].[CRJH_MATERIAL]
where [status]=0 




select 
Id id
,case when  defaultcostUnit_name='月' then 'UG002' else defaultcostUnit_name end FBaseUnitId_0
,isnull((select top 1 kingdeeNumber from CRJH_categoryMapping where meituanNumber=category_code),'') category_0     --存储类型
from [dbo].[CRJH_MATERIAL]
where [status]=0 

select 
Id id
,case when  defaultOrderUnit_name='月' then 'UG002' else defaultOrderUnit_name end FStoreUnitID_0
from [dbo].[CRJH_MATERIAL]
where [status]=0



end



GO
