USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_categoryMapping]    脚本日期: 2026/6/23 12:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_categoryMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kingdeeNumber] [nvarchar](50) NOT NULL,
	[kingdee] [nvarchar](50) NULL,
	[meituanNumber] [nvarchar](50) NOT NULL,
	[meituan1] [nvarchar](50) NULL,
 CONSTRAINT [PK_CRJH_categoryMapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CRJH_categoryMapping] ON 

INSERT [dbo].[CRJH_categoryMapping] ([id], [kingdeeNumber], [kingdee], [meituanNumber], [meituan1]) VALUES (1, N'CHLB02_SYS', N'包材', N'ZBLB029', N'包材')
INSERT [dbo].[CRJH_categoryMapping] ([id], [kingdeeNumber], [kingdee], [meituanNumber], [meituan1]) VALUES (2, N'CHLB06_SYS', N'设备用品', N'ZBLB033', N'设备用品')
INSERT [dbo].[CRJH_categoryMapping] ([id], [kingdeeNumber], [kingdee], [meituanNumber], [meituan1]) VALUES (3, N'CHLB05_SYS', N'工服', N'ZBLB034', N'工服')
SET IDENTITY_INSERT [dbo].[CRJH_categoryMapping] OFF
GO
