USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_ERPorder_SAL_RETURNSTOCK]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[CRJH_ERPorder_SAL_RETURNSTOCK]
@fid varchar(200)
as
begin
declare @FJson nvarchar(Max)
declare @FJsonE nvarchar(Max)
declare @FormId nvarchar(200)  --单据标识

declare @FBillNo nvarchar(200)  --单号
declare @FDate nvarchar(200)		--日期
declare @FBillTypeID nvarchar(200)					--单据类型
declare @FSaleOrgId nvarchar(200)					--销售组织
declare @FStockOrgId nvarchar(200)					--库存组织
declare @FCustomerID nvarchar(100)					--客户
declare @FOwnerIdHead nvarchar(100)			--货主
declare @FSettleOrgID nvarchar(100)			--结算组织

declare @FMaterialId nvarchar(200)				--物料
declare @FUnitID nvarchar(200)				--单位
declare @FPriceUnitId nvarchar(200)				--单位
declare @FRealQty nvarchar(200)				--出库数量
declare @FSTOCKID nvarchar(200)				--仓库
declare @FOwnerID nvarchar(200)			--货主
declare @FTaxPrice nvarchar(200)			--含税单价
declare @FEntryTaxAmount nvarchar(200)				--税额
declare @FEntryTaxRate nvarchar(200)				--税率
declare @FIsFree nvarchar(200)					--是否赠品



declare CS_order cursor for
select 
'SAL_RETURNSTOCK',
a.itemSn,--单号
isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101 08:00:00:000'), 121), 23),''),--日期
'XSTHD01_SYS'--单据类型
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --销售组织
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --库存组织
,case when isnull(oppositeOrg_code,'') in (select MeiTuanNumber from  CRJH_CustomerMapping)
			then (select kingdeeNumber from  CRJH_CustomerMapping where MeiTuanNumber=isnull(oppositeOrg_code,'') )
	 ELSE  isnull(oppositeOrg_code,'') END --客户
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --

,b.goods_code,--表单品(sku)所有属性的编码，SKU概念介绍	
case when  bizUnit='月' then 'UG002' else bizUnit end  
,case when  bizUnit='月' then 'UG002' else bizUnit end,  
b.bizUnitAmount--出库数量
,case when isnull(warehouse_code,'') in (select MeiTuanNumber from CRJH_WarehouseMapping) then (select top 1 KingdeeNumber from CRJH_WarehouseMapping where MeiTuanNumber=isnull(warehouse_code,'')) 
	else (select wareHouse  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
	end warehouse--仓库
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end,--货主
b.bizUnitPrice,--含税单价
b.tax,--税额
b.taxRate,--税率
case when convert(decimal(18,2),b.bizUnitPrice) = 0 then 'true' else 'false' end	--是否赠品

from CRJH_InStock a
left join CRJH_InStockEntry b on  a.itemSn = b.itemSn

where 1=1
and a.itemSn=@fid 

set @FJson=''
set @FJsonE=''
open CS_order
while (1=1)
begin
	fetch CS_order into 
	@FormId,
	@FBillNo,  --单号
	@FDate,		--日期
	@FBillTypeID,					--单据类型
	@FSaleOrgId,					--销售组织
	@FStockOrgId,					--库存组织
	@FCustomerID,					--客户
	@FOwnerIdHead,		--货主
	@FSettleOrgID ,			--结算组织




	@FMaterialId,			--物料
	@FUnitID,
	@FPriceUnitId,
	@FRealQty ,			--出库数量
	@FSTOCKID,		--仓库
	@FOwnerID,		--货主
	@FTaxPrice ,			--含税单价
	@FEntryTaxAmount ,			--税额
	@FEntryTaxRate ,			--税率
	@FIsFree				--是否赠品

	if @@fetch_status <> 0			--@@fetch_status为跳出循环
	break
	set @FJsonE = case when isnull(@FJsonE,'')='' then ''else @FJsonE+','
				end +'{'
						+'"FMaterialId":{"FNumber":"'+@FMaterialId+'"},'+
						+'"FUnitID":{"FNumber":"'+@FUnitID+'"},'+
						--+'"FPriceUnitId":{"FNumber":"'+@FPriceUnitId+'"},'+	
						+'"FRealQty":"'+@FRealQty+'",'+							
						+'"FSTOCKID":{"FNumber":"'+@FSTOCKID+'"},'+	
						+'"FOwnerID":{"FNumber":"'+@FOwnerID+'"},'+	
						+'"FTaxPrice":"'+@FTaxPrice+'",'+								
						+'"FEntryTaxAmount":"'+@FEntryTaxAmount+'",'+		
						+'"FEntryTaxRate":"'+@FEntryTaxRate+'",'+		
						+'"FIsFree":"'+@FIsFree+'"'+		
					+'}'





						  
 set @FJson='{'+

 			+'"IsAutoAdjustField":"true",'+
			+'"IsVerifyBaseDataField":"true",'+
			+'"IsAutoSubmitAndAudit":"true",'+
			+'"InterationFlags":"STK_InvCheckDetailMessage",'+
			+'"Model":'+
			+'{'+
			+'"FBillNo":"'+@FBillNo+'",'+
			+'"FDate":"'+@FDate+'",'+
			+'"FBillTypeID":{"FNumber":"'+@FBillTypeID+'"},'+		
			+'"FSaleOrgId":{"FNumber":"'+@FSaleOrgId+'"},'+		
			+'"FStockOrgId":{"FNumber":"'+@FStockOrgId+'"},'+		
			+'"FRetcustId":{"FNumber":"'+@FCustomerID+'"},'+	
			+'"FOwnerIdHead":{"FNumber":"'+@FOwnerIdHead+'"},'+	
			+'"FSettleOrgID":{"FNumber":"'+@FSettleOrgID+'"},'+	
			+'"FEntity": ['+@FJsonE+']'+
		+'}'+
		+'}'

end
close CS_order
deallocate CS_order
select @FJson fjson,@FBillNo FBILLNO ,'销售退货单' FTypeName



end

GO
