USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_PurchaseOrderEntry]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_PurchaseOrderEntry](
	[Id] [nvarchar](255) NOT NULL,
	[purchaseOrderSn] [nvarchar](255) NULL,
	[goods_code] [nvarchar](255) NULL,
	[bizUnit_name] [nvarchar](50) NULL,
	[gift] [nvarchar](50) NULL,
	[auditPrice] [nvarchar](50) NULL,
	[auditMoney] [nvarchar](50) NULL,
	[auditNoTaxMoney] [nvarchar](50) NULL,
	[auditAmount] [nvarchar](50) NULL,
	[taxRate] [nchar](10) NULL,
	[tax] [nchar](10) NULL,
	[demandWarehouse_code] [nvarchar](50) NULL,
	[demandWarehouse_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_CRJH_PurchaseOrderEntry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否赠品' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'gift'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'auditPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金额' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'auditMoney'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'不含税金额' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'auditNoTaxMoney'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'auditAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'税率' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'taxRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'税额' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'tax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'仓库编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'demandWarehouse_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'仓库名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_PurchaseOrderEntry', @level2type=N'COLUMN',@level2name=N'demandWarehouse_name'
GO
