USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_JsonTable]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_JsonTable](
	[pkid] [int] NULL,
	[Id] [nvarchar](100) NOT NULL,
	[json] [nvarchar](max) NULL,
 CONSTRAINT [PK_CRJH_JsonTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
