USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_Org]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_Org](
	[Id] [nvarchar](50) NOT NULL,
	[orgId] [nvarchar](50) NULL,
	[orgType] [int] NULL,
	[orgName] [nvarchar](50) NULL,
	[merchantNo] [nvarchar](50) NULL,
	[poiStatus] [nchar](10) NULL,
	[inStockType] [nvarchar](50) NULL,
	[outStockType] [nvarchar](50) NULL,
 CONSTRAINT [PK_CRJH_Org] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CRJH_Org] ADD  CONSTRAINT [DF_CRJH_Org_merchantNo]  DEFAULT ((100)) FOR [merchantNo]
GO
