USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_WarehouseMapping]    脚本日期: 2026/6/23 12:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_WarehouseMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KingdeeNumber] [nvarchar](50) NULL,
	[Kingdee] [nvarchar](50) NOT NULL,
	[MeiTuanNumber] [nvarchar](50) NULL,
	[MeiTuan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CRJH_WarehouseMapping1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CRJH_WarehouseMapping] ON 

INSERT [dbo].[CRJH_WarehouseMapping] ([id], [KingdeeNumber], [Kingdee], [MeiTuanNumber], [MeiTuan]) VALUES (1, N'CK014', N'供应链', N'ZBCK03', N'廊坊万纬仓')
INSERT [dbo].[CRJH_WarehouseMapping] ([id], [KingdeeNumber], [Kingdee], [MeiTuanNumber], [MeiTuan]) VALUES (4, N'CK011', N'供应链', N'ZBCK04', N'郑州万纬仓')
INSERT [dbo].[CRJH_WarehouseMapping] ([id], [KingdeeNumber], [Kingdee], [MeiTuanNumber], [MeiTuan]) VALUES (6, N'CK012', N'供应链', N'ZBCK05', N'重庆万纬仓')
SET IDENTITY_INSERT [dbo].[CRJH_WarehouseMapping] OFF
GO
