USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_erp_Supplier]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[CRJH_erp_Supplier]
as
begin


select 
id
,code Fnumber
,name [FName]

from [dbo].[CRJH_Supplier]
where status=0  


end
GO
