USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_OrgMapping]    脚本日期: 2026/6/23 12:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_OrgMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kingdeeNumber] [nvarchar](50) NOT NULL,
	[kingdee] [nvarchar](50) NULL,
	[meiTuanNumber] [nvarchar](50) NULL,
	[meiTuan] [nvarchar](50) NULL,
	[wareHouse] [nvarchar](50) NULL,
 CONSTRAINT [PK_CRJH_OrgId] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CRJH_OrgMapping] ON 

INSERT [dbo].[CRJH_OrgMapping] ([id], [kingdeeNumber], [kingdee], [meiTuanNumber], [meiTuan], [wareHouse]) VALUES (16, N'100', N'上海热集供应链管理有限公司', N'100', N'总部配送中心', N' ')
INSERT [dbo].[CRJH_OrgMapping] ([id], [kingdeeNumber], [kingdee], [meiTuanNumber], [meiTuan], [wareHouse]) VALUES (17, N'1000.01', N'上海合生汇', N'57868560', N'上海合生汇', N'100001')
INSERT [dbo].[CRJH_OrgMapping] ([id], [kingdeeNumber], [kingdee], [meiTuanNumber], [meiTuan], [wareHouse]) VALUES (18, N'1000.02', N'上海美罗城', N'57633158', N'上海美罗城', N'100002')
SET IDENTITY_INSERT [dbo].[CRJH_OrgMapping] OFF
GO
