USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_PurchaseOrder]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_PurchaseOrder](
	[status] [int] NULL,
	[reqJson] [nvarchar](max) NULL,
	[respJson] [nvarchar](max) NULL,
	[Id] [nvarchar](255) NOT NULL,
	[purchaseOrderSn] [nvarchar](255) NULL,
	[orgInfo_orgId] [nvarchar](255) NULL,
	[supplierInfo_code] [nvarchar](255) NULL,
	[supplierInfo_name] [nvarchar](50) NULL,
	[createTime] [nvarchar](50) NULL,
	[remark] [nvarchar](max) NULL,
	[orgAddress_address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CRJH_PurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CRJH_PurchaseOrder] ADD  CONSTRAINT [DF_CRJH_PurchaseOrder_status]  DEFAULT ((0)) FOR [status]
GO
