USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_Stock]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[CRJH_Stock]
@fid varchar(200),
@fromid varchar(200)
as
begin
declare @sql nvarchar(max)
set @sql = 'exec CRJH_ERPorder_'+@fromid+' '+@fid+''
exec (@sql)
end
GO
