USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_ERPorder_STK_InStock]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[CRJH_ERPorder_STK_InStock]
@fid varchar(200)
as
begin
declare @FJson nvarchar(Max)
declare @FJsonE nvarchar(Max)
declare @FormId nvarchar(200)  --单据标识

declare @FBillNo nvarchar(200)  --单号
declare @FDate nvarchar(200)		--日期
declare @FBillTypeID nvarchar(200)					--单据类型
declare @FPurchaseOrgId nvarchar(200)					--采购组织
declare @FDemandOrgId nvarchar(200)					--采购组织
declare @FStockOrgId nvarchar(200)					--库存组织
declare @FSupplierId nvarchar(100)					--供应商
declare @FSettleOrgId nvarchar(100)			--结算组织
declare @FOwnerIdHead nvarchar(100)			--货主

declare @FMaterialId nvarchar(200)				--物料
declare @FUnitID nvarchar(200)				--单位
declare @FPriceUnitID nvarchar(200)				--单位
declare @FRealQty nvarchar(200)				--出库数量
declare @FSTOCKID nvarchar(200)				--仓库
declare @FTaxPrice nvarchar(200)			--含税单价
declare @FEntryTaxAmount nvarchar(200)				--税额
declare @FEntryTaxRate nvarchar(200)				--税率
declare @FGiveAway nvarchar(200)					--是否赠品
declare @FAmount nvarchar(200)					--是
declare @FNote nvarchar(200)					--是





declare CS_order cursor for
select 
'STK_InStock',
a.itemSn,--单号
isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(a.bizTime AS BIGINT) / 1000, '19700101 08:00:00:000'), 121), 23),''),--日期
'RKD01_SYS'--单据类型
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --销售组织
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --需求组织
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end  --库存组织
,case when  isnull(oppositeOrg_code,'')='PS00001' and  isnull(deliveryWarehouseCode,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08')  then 'VEN00020'
	  when  isnull(oppositeOrg_code,'')='PS00001' and  isnull(deliveryWarehouseCode,'') in  ('ZBCK01','ZBCK02')  then 'VEN00036'
	else isnull(oppositeOrg_code,'') 
	end --供应商  3:门店退配送中心,对方机构为组织,组织编码对应客户编码,强转对应供应商
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end --结算组织
,case when isnull(warehouse_code,'') in ('ZBCK03','ZBCK04','ZBCK05','ZBCK08') then '100'
    when isnull(warehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
    end ,--货主
b.goods_code,--表单品(sku)所有属性的编码，SKU概念介绍	
case when  bizUnit='月' then 'UG002' else bizUnit end  
,case when  bizUnit='月' then 'UG002' else bizUnit end,  
b.bizUnitAmount--出库数量
,case when isnull(warehouse_code,'') in (select MeiTuanNumber from CRJH_WarehouseMapping) then (select top 1 KingdeeNumber from CRJH_WarehouseMapping where MeiTuanNumber=isnull(warehouse_code,'')) 
	else (select wareHouse  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=belongOrg_orgId)
	end warehouse--仓库
,b.bizUnitPrice,--含税单价
b.tax,--税额
b.taxRate,--税率
case when convert(decimal(18,2),b.bizUnitPrice) = 0 then 'true' else 'false' end,	--是否赠品
noTaxMoney,
case when a.type_id=3 then sourceSn else '' end
from CRJH_InStock a
left join CRJH_InStockEntry b on a.itemSn = b.itemSn
left join CRJH_ORG c on a.belongOrg_orgId=c.orgid

where a.type_id in( 2,3,9)
and a.Id = @fid

set @FJson=''
set @FJsonE=''
open CS_order
while (1=1)
begin
	fetch CS_order into 
	@FormId,
	@FBillNo ,  --单号
	@FDate ,		--日期
	@FBillTypeID ,					--单据类型
  @FPurchaseOrgId ,					--采购组织
  @FDemandOrgId ,					--采购组织
  @FStockOrgId ,					--库存组织
  @FSupplierId ,					--供应商
  @FSettleOrgId ,			--结算组织
  @FOwnerIdHead,				--huozhu

  @FMaterialId ,				--物料
  @FUnitID,
  @FPriceUnitID,
  @FRealQty ,				--出库数量
  @FSTOCKID ,				--仓库
  @FTaxPrice ,			--含税单价
  @FEntryTaxAmount ,				--税额
  @FEntryTaxRate ,				--税率
  @FGiveAway, 					--是否赠品
  @FAmount,
  @FNote

	if @@fetch_status <> 0			--@@fetch_status为跳出循环
	break
	set @FJsonE = case when isnull(@FJsonE,'')='' then ''else @FJsonE+','
				end +'{'
						+'"FMaterialId":{"FNumber":"'+@FMaterialId+'"},'+	
						+'"FUnitID":{"FNumber":"'+@FUnitID+'"},'+	
						--+'"FPriceUnitID":{"FNumber":"'+@FPriceUnitID+'"},'+	
						+'"FRealQty":"'+@FRealQty+'",'+							
						+'"FSTOCKID":{"FNumber":"'+@FSTOCKID+'"},'+	
						+'"FTaxPrice":"'+@FTaxPrice+'",'+								
						+'"FEntryTaxAmount":"'+@FEntryTaxAmount+'",'+		
						+'"FEntryTaxRate":"'+@FEntryTaxRate+'",'+		
						+'"FAmount":"'+@FAmount+'",'+		
						+'"FGiveAway":"'+@FGiveAway+'",'+	
						+'"FOwnerID":{"FNumber":"'+@FOwnerIdHead+'"},'+	
						+'"FKeeperID":{"FNumber":"'+@FOwnerIdHead+'"},'+	

						+'"FNote":"'+@FNote+'"'+		
					+'}'





						  
 set @FJson='{'+
 			+'"IsAutoAdjustField":"true",'+
			+'"IsVerifyBaseDataField":"true",'+
			+'"IsAutoSubmitAndAudit":"true",'+
			+'"Model":'+
			+'{'+
			+'"FBillNo":"'+@FBillNo+'",'+
			+'"FDate":"'+@FDate+'",'+
			+'"FBillTypeID":{"FNumber":"'+@FBillTypeID+'"},'+		
			+'"FPurchaseOrgId":{"FNumber":"'+@FPurchaseOrgId+'"},'+		
			+'"FDemandOrgId":{"FNumber":"'+@FDemandOrgId+'"},'+	
			+'"FStockOrgId":{"FNumber":"'+@FStockOrgId+'"},'+		
			+'"FSupplierId":{"FNumber":"'+@FSupplierId+'"},'+
			+'"FOwnerIdHead":{"FNumber":"'+@FOwnerIdHead+'"},'+	
			+'"SubHeadEntity":{"FSettleOrgID":{"FNumber":"'+@FSettleOrgID+'"}},'+	
			+'"FInStockFin": { "FSettleCurrId": {"FNumber": "PRE001"}},'+
			+'"FInStockEntry": ['+@FJsonE+']'+
		+'}'+
		+'}'

end
close CS_order
deallocate CS_order
select @FJson fjson,@FBillNo FBILLNO ,'采购入库单' FTypeName



end
GO
