USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_Supplier]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_Supplier](
	[Id] [nvarchar](255) NULL,
	[rootOrgId] [nvarchar](255) NULL,
	[code] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[belongOrg_orgId] [nvarchar](255) NULL,
	[status_id] [nvarchar](255) NULL,
	[aliasName] [nvarchar](255) NULL,
	[contactName] [nvarchar](255) NULL,
	[contactNumber] [nvarchar](255) NULL,
	[taxRate] [nchar](10) NULL,
	[status] [int] NULL,
	[reqJson] [nvarchar](max) NULL,
	[respJson] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CRJH_Supplier] ADD  CONSTRAINT [DF_CRJH_Supplier_status]  DEFAULT ((0)) FOR [status]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'供应商名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所属机构' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'belongOrg_orgId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'简称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'aliasName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'联系人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'contactName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'联系电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'contactNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'税率' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CRJH_Supplier', @level2type=N'COLUMN',@level2name=N'taxRate'
GO
