USE [MeiTuanApi]
GO
/****** 对象:  StoredProcedure [dbo].[CRJH_erp_PurchaseOrder]    脚本日期: 2026/6/23 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CRJH_erp_PurchaseOrder]
as
begin

update  [dbo].[CRJH_PurchaseOrder] set status=1 where respJson like '%违反字段唯一性要求：编码唯一%'


select 
distinct
a.Id id
,a.purchaseOrderSn Fbillno
,isnull(CONVERT(varchar(100),CONVERT(DATETIME, DATEADD(SECOND, CAST(createTime AS BIGINT) / 1000, '19700101 08:00:00:000'), 121), 23),'')  FDate 
--,(select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=orgInfo_orgId) FPurchaseOrgId_0
,case when isnull(demandWarehouse_code,'') in ('ZBCKO3','ZBCK04','ZBCKO5','ZBCKO8') then '100'
    when isnull(demandWarehouse_code,'') in ('ZBCK01','ZBCK02') then '1000'
    else (select kingdeeNumber  from CRJH_Org a inner join CRJH_OrgMapping b on a.merchantNo=b.meiTuanNumber where a.orgId=orgInfo_orgId)
    end FPurchaseOrgId_0
,supplierInfo_code FSupplierId_0
,remark  FNote
,orgAddress_address F_CKDZ1 
from [dbo].[CRJH_PurchaseOrder] a
inner join  [dbo].[CRJH_PurchaseOrderEntry] b on a.purchaseOrderSn=b.purchaseOrderSn
where [status]=0 



select 
purchaseOrderSn id
,goods_code FMaterialId_0
,case when  bizUnit_name='月' then 'UG002' else bizUnit_name end  FUnitId_0
,case when  bizUnit_name='月' then 'UG002' else bizUnit_name end   FPriceUnitId_0
,auditAmount FQty 
,case when auditPrice='0' then 'true' else 'false' end FGiveAway  
,case when gift='false' and auditNoTaxMoney<>'0.00' then  Convert(decimal(12,2),auditNoTaxMoney)/Convert(decimal(12,6),auditAmount) else 0 end FPrice
,case when gift='false' and auditMoney<>'0.00' then  Convert(decimal(12,2),auditMoney)/Convert(decimal(12,6),auditAmount) else 0 end FTaxPrice
,auditNoTaxMoney
,auditMoney
,tax FEntryTaxAmount
,auditMoney FAllAmount
,auditNoTaxMoney FEntryAmount 

from [dbo].[CRJH_PurchaseOrderEntry]





end
GO
