USE [MeiTuanApi]
GO
/****** 对象:  Table [dbo].[CRJH_storageMapping]    脚本日期: 2026/6/23 12:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRJH_storageMapping](
	[kingdeeNumber] [nvarchar](50) NOT NULL,
	[kingdee] [nvarchar](50) NULL,
	[meituanNumber] [nvarchar](50) NOT NULL,
	[meituan] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CRJH_storageMapping] ([kingdeeNumber], [kingdee], [meituanNumber], [meituan]) VALUES (N'CCFS002(暂不启用)', N'恒温(暂不启用)', N'CCFS0004', N'其他')
INSERT [dbo].[CRJH_storageMapping] ([kingdeeNumber], [kingdee], [meituanNumber], [meituan]) VALUES (N'CCWQ01', N'冷藏  ', N'CCFS0001', N'冷藏')
INSERT [dbo].[CRJH_storageMapping] ([kingdeeNumber], [kingdee], [meituanNumber], [meituan]) VALUES (N'CCWQ02', N'冷冻  ', N'CCFS0002', N'冷冻')
GO
