<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="log" value="C:\Users\Administrator\Desktop\"/>

    <add key="con" value="server=Localhost;pwd=zzb@123..;uid=sa;database=AIS20260520105522"/>


    <!-- 当前使用的 账套ID  -->
    <add key="X-KDApi-AcctID" value="6a0d2f5738ec9b"/>
    <!-- 第三方系统登录授权的用户  -->
    <add key="X-KDApi-UserName" value="Administrator"/>
    <!-- 第三方系统登录授权的应用ID  -->
    <add key="X-KDApi-AppID" value="345393_0c2DR9GJzNBVXZ8F72xP78UN6g771qPo"/>
    <!-- 第三方系统登录授权的应用密钥  -->
    <add key="X-KDApi-AppSec" value="f45e6c1e17e347ebb4dbe03db1acff1d"/>
    <!-- 服务Url地址  -->
    <add key="X-KDApi-ServerUrl" value="http://desktop-975frou/k3cloud"/>
    
    
  </appSettings>
  
</configuration>
